.imgWraper1 {
  position: relative;
  padding-bottom: 56.25%;
}

.imgWraper2 {
  position: relative;
  padding-bottom: 100%;
}

.imgWraper1 img,
.imgWraper2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px
}

.listContainer {
  width: 90%;
  max-width: 320px;
  min-width: 200px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.listContainer__title {
  color: #231f20;
  line-height: 38px;
  font-size: 30px;
  font-weight: 800;
  text-align: center;

  margin-top: 50px;
}

.listContainer__listItem {
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
  
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'image'
      'text';
}
  
.card__title {
  margin: 20px 0 0 0;
  line-height: 20px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
}

.card__publisherdate {
  margin-top: 5px;

  color: #5d687b;
  line-height: 18px;
  font-size: 13px;
  text-align: left;
}

.listContainer__listItem :nth-child(1){
  grid-area: image;
}

.listContainer__listItem :nth-child(2){
  grid-area: text;
}

.border-shadow {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.b-upperCase {
  text-transform: uppercase;
}

.b-capitalize {
  text-transform: capitalize !important;
}

@media only screen and (min-width: 680px) {
  .listContainer {
      max-width: 940px;
  }

  .listContainer__wrapperItem {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .listContainer__listItem {
      width: 23%;
      margin: 5px;
      
      grid-gap: 0;
  }

  .listContainer__listItem img {
      margin: 0;
  }

  .listContainer__listItem--title {
      height: fit-content;
      margin: 0;

      display: -webkit-box !important;
      -webkit-line-clamp: 2 !important;
      -webkit-box-orient: vertical !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
  }

  .listContainer__listItem--publisherdate {
      margin: 0;
  }

  .border-shadow {
      box-shadow: none;
  }
}